@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto");
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow: hidden; }

nav {
  height: 75px;
  background-image: linear-gradient(to left, #A152EB 0%, #2500ff 100%);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

h1 {
  color: white;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px #eee;
  font-size: 45px;
  margin-left: 5%; }
