@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto|Open+Sans:300");
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee; }

a {
  text-decoration: none;
  color: inherit; }

i:hover {
  color: #3799fe;
  transition: all .2s; }

nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: white;
  height: 60px;
  padding: 0 25px 0 25px;
  box-shadow: 0px 0px 5px #888888; }

.flex {
  width: 600px; }

.menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.logo {
  text-align: center; }

#button {
  display: inline-block;
  background-color: #3799fe;
  color: #eee;
  font-size: 40px;
  padding: 10px 100px 10px 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  cursor: pointer; }
  #button:hover {
    box-shadow: 0px 0px 15px #888888; }

.links {
  text-align: right;
  font-size: 12px; }
  .links i {
    margin-right: 5px;
    cursor: pointer; }

.tooltip {
  display: none;
  position: relative;
  top: 0;
  left: 0; }

.item {
  list-style-type: none;
  font-size: 18px;
  margin-right: 15px;
  position: relative; }

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #3799fe;
  width: 0%; }
