@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto|Open+Sans:300");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #eee; }

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0; }

nav {
  position: relative;
  height: 75px;
  width: 100%;
  background-color: #131519;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#navbar-container {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  text-align: left;
  font-family: "Montserrat", sans-serif; }
  #navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  #navbar li {
    display: inline-block;
    margin-left: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px; }
    #navbar li:hover {
      -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
      transform: translateY(-7px);
      transition: -webkit-transform .1s ease-in-out;
      transition: transform .1s ease-in-out;
      transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out; }

#logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  height: 100px;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }
  #logo:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: all .5s ease-out; }

#floating-sidebar {
  position: fixed;
  height: auto;
  width: 38px;
  right: 0;
  top: 40%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #131519;
  padding-bottom: 8px; }
  #floating-sidebar li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
    font-size: 1.8em;
    padding: 4px; }

.tooltip {
  font-family: "Montserrat", sans-serif;
  position: relative; }
  .tooltip:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute; }
  .tooltip:before {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 25%;
    right: 130%;
    white-space: nowrap;
    -webkit-transform: scale3d(0.2, 0.2, 1);
    transform: scale3d(0.2, 0.2, 1);
    transition: all .2s ease-in-out; }
  .tooltip:hover:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

.page-text {
  position: fixed;
  z-index: -1;
  right: 0;
  top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 105px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.2); }

.main-content {
  position: fixed;
  top: 20%;
  left: 25%;
  right: 25%;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .main-content #profile-image {
    width: 230%; }
    .main-content #profile-image img {
      width: 100%;
      height: 100%; }
  .main-content #welcome {
    margin: 0 5% 0 5%; }
  .main-content #technologies {
    text-align: center;
    padding-bottom: 20px; }
    .main-content #technologies img {
      padding-right: 5px;
      width: auto;
      height: 60px; }

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  #navbar li {
    margin-left: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2); }
  .page-text {
    position: static;
    font-size: 25px;
    text-align: right; }
  #profile-image {
    display: none; }
  #floating-sidebar {
    position: static;
    float: right; }
  .main-content {
    position: static;
    box-shadow: none; }
  footer {
    position: static; } }
