@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto|Open+Sans:300");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #eee; }

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0; }

nav {
  position: relative;
  height: 75px;
  width: 100%;
  background-color: #131519;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#navbar-container {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  text-align: left;
  font-family: "Montserrat", sans-serif; }
  #navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  #navbar li {
    display: inline-block;
    margin-left: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px; }
    #navbar li:hover {
      -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
      transform: translateY(-7px);
      transition: -webkit-transform .1s ease-in-out;
      transition: transform .1s ease-in-out;
      transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out; }

#logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  height: 100px;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }
  #logo:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: all .5s ease-out; }

.menu-button {
  display: none; }

.mobile-menu {
  display: none; }

.floating-sidebar {
  position: fixed;
  height: auto;
  width: 38px;
  right: 0;
  top: 40%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #131519;
  padding-bottom: 8px;
  z-index: 10000; }
  .floating-sidebar li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
    font-size: 1.8em;
    padding: 4px; }

.tooltip {
  font-family: "Montserrat", sans-serif;
  position: relative; }
  .tooltip:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute; }
  .tooltip:before {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 25%;
    right: 130%;
    white-space: nowrap;
    -webkit-transform: scale3d(0.2, 0.2, 1);
    transform: scale3d(0.2, 0.2, 1);
    transition: all .2s ease-in-out; }
  .tooltip:hover:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

.page-text {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 105px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.2); }

.main-content {
  position: absolute;
  top: 20%;
  z-index: 2;
  width: 100%; }

.card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 0 auto; }
  .card img {
    height: 20%;
    width: 30%; }
  .card #welcome {
    padding-left: 25px;
    padding-right: 25px; }

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body, html {
    overflow-x: hidden; }
  #navbar {
    display: none; }
  #navbar-container {
    margin-left: 10%;
    margin-right: 10%;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #navbar-container #logo {
      padding-top: 25px; }
  .menu-button {
    display: block;
    position: relative;
    z-index: 20;
    width: 35px;
    height: 5px;
    background-color: white; }
    .menu-button:before {
      content: '';
      display: block;
      position: relative;
      width: 35px;
      height: 5px;
      background-color: white;
      margin-top: 10px; }
    .menu-button:after {
      content: '';
      display: block;
      position: relative;
      width: 35px;
      height: 5px;
      background-color: white;
      margin-top: -25px; }
  .mobile-menu {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); }
    .mobile-menu ul {
      margin: 0;
      padding: 0;
      height: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      list-style-type: none; }
    .mobile-menu li {
      color: white;
      font-size: 35px; }
  .close-button {
    display: block;
    position: absolute;
    top: 5.5%;
    right: 12.5%;
    z-index: 20;
    width: 35px;
    height: 5px;
    background-color: white;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg); }
    .close-button:before {
      content: '';
      display: block;
      position: relative;
      width: 35px;
      height: 5px;
      background-color: white;
      -webkit-transform: rotateZ(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotateZ(-90deg); }
  .page-text {
    position: static;
    float: right;
    font-size: 20px; }
  .floating-sidebar {
    position: static;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    border-radius: 0; }
  .main-content {
    position: static;
    box-shadow: none;
    margin-top: 15%; }
    .main-content .profile {
      width: 100vw; }
    .main-content img:first-child {
      display: none; }
    .main-content .card {
      width: 100vw; }
  footer {
    position: static;
    margin-top: 35px;
    background-color: #131519;
    color: white;
    text-align: center; } }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .page-text {
    position: static;
    float: right;
    font-size: 55px; }
  .main-content {
    position: static;
    box-shadow: none;
    margin-top: 7%;
    font-size: .8em; }
    .main-content .profile {
      width: 70vw; } }
